@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}
input{

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    box-sizing: border-box;

    width: 30%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
    
    display: block;
    margin: auto;
}
input:focus {
    outline: none;
}
textarea{

    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    box-sizing: border-box;

    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(211, 211, 211);
    border-width: 1px;

    font-family: 'Raleway', sans-serif;
    font-size: small;

    resize: none;

    display: block;
    margin: auto;
}
textarea:focus {
    outline: none;
}
button {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;

    border-radius: 5px;
    border-width: 1px;

    width: 30%;
    height: 40px;

    letter-spacing: 1px;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: #c741fc;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
}
button:hover {
    background-color: #ea83ff;
    transition: 0.2s ease-in-out;
    color: #ffffff62;
}
button.mini {
    width: 20%;
    height: 20px;
    float: right;
}
h1{
    color: #000000;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav ul{
    display: flex;
}

nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 32px;
    display: flex;
    font-size: 0.80rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    color: #000000;
}
nav ul li a:hover{
    background-color: #ea83ff;
    box-shadow: 5px 10px 30px rgba(245, 106, 245, 0.397);
    color: #e5e5e586;
}

.active{
    background-color: #c741fc;
    color: rgb(255, 255, 255);
    box-shadow: 5px 10px 30px rgba(222, 34, 206, 0.397);
    font-weight: 600;
}
.main{
    width: 100%;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/bg2.svg);
}

/* The alert message boxes */
.error{
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
    background-color: #f44336;
    color: white;
    margin: auto;
    border-radius: 4px;
}

.success{
    background-color: #73d973;
    box-sizing: border-box;
    padding: 10px;
    width: 30%;
    color: white;
    margin: auto;
    border-radius: 4px;
}

  /* Style the tables */
table.styled-table {
    border-collapse: collapse;
    border-style : hidden;
    border-radius: 10px;
    margin:auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
    max-width: 30%;
    width: 30%;
    min-width: 30%;
  }

table.styled-table th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #c741fc;
    color: white;
    padding: 12px 15px;

  }
  
  table.styled-table td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
    text-align: center;

    
  }
  form.comment_reply{
    display: none;
  }
